.project {
  @include flex(row, nowrap);
  position: relative;
}
.project__nav {
  margin-right: 0.5rem;
  width: 300px;
  position: sticky;
  top: 0.5rem;
}
.project__body {
  flex: 1;
}
.project__section {
  // padding: 1rem;
  background-color: white;
  box-shadow: $bs-1;
  @include bp($bp-lrg) {
    min-height: calc(100vh - 13rem);
  }
}

.project__section__title {
  // margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: $indigo;
  box-shadow: $bs-1;
  color: white;
  font-weight: bold;
}

.project-editor__components {
  padding: 1rem;
  & > * {
    margin-bottom: 2rem;
  }
}

.project-editor-component {
  @include flex(row, nowrap);
  &__endpoint,
  &__figure,
  &__title,
  &__text {
    flex-grow: 10;
  }
  &__drag,
  &__delete {
    @include transition(all, 200ms);
    @include flex(row, nowrap, center, center);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: $bs-1;
    &:first-child {
      border-radius: 4px;
      margin-right: 1rem;
      background-color: #eee;
      &:hover {
        background-color: #ccc;
      }
    }
    &:last-child {
      border-radius: 50%;
      margin-left: 1rem;
      background-color: $warning-4;
      &:hover {
        background-color: $warning-2;
        box-shadow: $bs-1;
      }
    }
    img {
      height: 20px;
    }
  }
  &__endpoint {
  }
}
.field-set {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
}

.project-viewer__components {
  padding: 1rem;
  & > * {
    margin-bottom: 1rem;
  }
  padding-bottom: 5rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  max-width: 900px;
}

.project-viewer__text-component {
  & > * {
    margin-bottom: 1rem;
  }

  & > p code {
    padding: 0.25rem;
    background-color: #ccc;
    font-weight: bold;
    border-radius: 4px;
  }
}

.project-viewer__endpoint-component {
  // border-radius: 10px;
  // box-shadow: $bs-1;
  margin: 2rem 0;
}

.project-viewer__endpoint-component__path {
  @include flex(row, nowrap, center, center);
  box-shadow: $bs-1;
  background-color: #eee;
  // padding: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.project-viewer__endpoint-component__http-verb {
  margin-right: 0.5rem;
  background-color: grey;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  &.POST {
    background-color: $caution;
  }
  &.GET {
    background-color: $success;
  }
  &.PUT {
    background-color: $confirm;
  }
  &.PATCH {
    background-color: $indigo;
  }
  &.DELETE {
    background-color: $warning;
  }
}
.project-viewer__endpoint-component__toggle {
  margin-left: auto;
  display: block;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  &:hover {
    background-color: #bbb;
    border-radius: 5px;
  }
}
.project-viewer__endpoint-component__content {
  // padding: 1rem;
  position: relative;
  height: max-content;
}
.project-viewer__endpoint-component__tab {
  display: inline-block;
  @include transition(background-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5em;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: #eee;
  }
  &.active {
    border-radius: 10px 10px 0 0;
    border-bottom: #ddd 3px solid;
  }
}

.project-nav {
  padding: 1rem;
}
.project-nav__list {
  list-style: none;
  padding: 0;
}
.project-nav__page {
  @include flex(row, nowrap, flex-start, center);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: $bs-1;
  a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 12px;
  }
  &.active {
    background-color: #ccc;
  }
}
.project-nav__page-grip {
  @include transition(background-color, 200ms);
  margin-right: 1rem;
  border-radius: 4px;
  background-color: #eee;
  // cursor: row-resize;
  padding: 0.5rem;
  box-shadow: $bs-1;
  img {
    min-height: 15px;
  }
  &:hover {
    background-color: #ccc;
  }
}
.project-nav__page-button {
  @include transition(background-color, 200ms);
  @include flex(row, nowrap, center, center);
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5rem;
  height: 25px;
  width: 25px;
  box-shadow: $bs-1;
  background-color: $warning-4;
  img {
    height: 15px;
  }
  &:hover {
    background-color: $warning-2;
  }
}

.fade-in {
  // display: none;
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  &.visible {
    display: block;
    animation-name: fade-in;
    animation-duration: 1s;
  }
  &.hidden {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.project-toolbar {
  background-color: #ddd;
  margin-bottom: 1rem;
  border-radius: 5px;
  @include flex(row, nowrap);
}
.project-toolbar__btn {
  @include transition(background-color, 200ms);
  background-color: transparent;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1rem;
  &:hover {
    background-color: #bbb;
    box-shadow: $bs-1;
  }
}
