.project__section {
  // padding: 1rem;
  background-color: white;
  box-shadow: $bs-1;
  @include bp($bp-lrg) {
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

.project__section__title {
  // margin-bottom: 1rem;
  padding: 1rem;
  background-color: #bbb;
  box-shadow: $bs-1;
}

.project-editor__components {
  padding: 1rem;
  & > * {
    margin-bottom: 2rem;
  }
}

.project-editor-component {
  @include flex(row, nowrap);
  &__endpoint,
  &__figure,
  &__title,
  &__text {
    flex-grow: 10;
  }
  &__drag,
  &__delete {
    @include transition(all, 200ms);
    @include flex(row, nowrap, center, center);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: $bs-1;
    &:first-child {
      border-radius: 4px;
      margin-right: 1rem;
      background-color: #eee;
      &:hover {
        background-color: #ccc;
      }
    }
    &:last-child {
      border-radius: 50%;
      margin-left: 1rem;
      background-color: $warning-4;
      &:hover {
        background-color: $warning-2;
        box-shadow: $bs-1;
      }
    }
    img {
      height: 20px;
    }
  }
}

.project-viewer__components {
  padding: 1rem;
  & > * {
    margin-bottom: 1rem;
  }
  padding-bottom: 5rem;
}

.project-viewer__text-component {
  & > * {
    margin-bottom: 1rem;
  }

  & > p code {
    padding: 0.25rem;
    background-color: #ccc;
    font-weight: bold;
    border-radius: 4px;
  }
}

.project-nav {
  padding: 1rem;
}
.project-nav__list {
  list-style: none;
  padding: 0;
}
.project-nav__page {
  @include flex(row, nowrap, flex-start, center);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: $bs-1;
  a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 12px;
  }
  &.active {
    background-color: #ccc;
  }
}
.project-nav__page-grip {
  @include transition(background-color, 200ms);
  margin-right: 1rem;
  border-radius: 4px;
  background-color: #eee;
  // cursor: row-resize;
  padding: 0.5rem;
  box-shadow: $bs-1;
  img {
    min-height: 15px;
  }
  &:hover {
    background-color: #ccc;
  }
}
.project-nav__page-button {
  @include transition(background-color, 200ms);
  @include flex(row, nowrap, center, center);
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5rem;
  height: 25px;
  width: 25px;
  box-shadow: $bs-1;
  background-color: $warning-4;
  img {
    height: 15px;
  }
  &:hover {
    background-color: $warning-2;
  }
}
